<div class="bottom">
  <div class="container">


    <div class="row">
      <div class="col">
        <!-- <h1>Contact Us</h1> -->
        <div class="header-1-light">C<i class="fas fa-globe"></i>NTACT US</div>
      </div>
    </div>

    <div class="row">

      <div class="col-lg-6 content pr-3">
        <p class="white">
          Send us a short message and our team will get back to you within 24 hours
        </p>


        <form>
          <div class="form-group">
            <label for="inputName">Name</label>
            <input type="email" class="form-control" id="inputName">
            <small id="emailHelp" class="form-text text-muted">Type your name so that we can contact you</small>
          </div>
          <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input type="email" class="form-control" id="inputEmail">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else</small>
          </div>
          <div class="form-group">
            <label for="textareaMessage">Message</label>
            <textarea class="form-control" id="textareaMessage" rows="3"></textarea>
          </div>
          <br>

          <button type="submit" class="button">Send</button>
          <!-- <a class="button" routerLink="/services">Send</a> -->
        </form>

      </div>

      <div class="col-lg-6 content content pr-3">

        <p>Address</p>


        <p class="white">
          198095,
          Saint-Petersburg,
          Narvskaya metro station,
          Ploshchad' Stachek 9,
          Business-centre 'Kirovsky univermag'
        </p>

        <p>E-mail</p>

        <p class="white">
          indevprof@gmail.com
        </p>

        <p>Phone</p>

        <p class="white">
          +7 (921) 955-62-38
          +7 (921) 977-88-14
        </p>

      </div>
    </div>


  </div>
</div>
