@import "src/style/colors.scss";

.tile {
  // border: 1px solid red;
  border-radius: 0.5em;
  width: 100%;
  padding-top: 100%;

  box-shadow: 2pt 2pt 5pt #ccc;

  position: relative;

  cursor: pointer;
  transition: all 0.5s;
}

.tile:hover {
  transform: scale(1.05);
  transition: all 0.5s;
}

.tile-inside {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  border-radius: 0.5em;

  &.bg {
    // background: linear-gradient(90deg, $bg-light 0%, $bg-dark 100%);
    // background: radial-gradient(#fea22833 50%, #fea228 100%);
    background: #ddd;
    opacity: 0.5;
  }

  &.bg-img {
    background: url("src/assets/img/cpn-ide.png") left 70pt no-repeat;
    background-size: 100%;
    opacity: 0.8;
  }

  &.content {
    width: 100%;
    // border: 1px solid red;
    // padding: 1em;
    // background: $bg-light;
    background: linear-gradient(150deg, #fff 0%, $bg-light 100%);
    opacity: 1;
    transition: all 0.5s;
  }

  &.content-more {
    padding: 1em;
    // background: $bg-light;
    background: linear-gradient(150deg, $bg-dark 0%, $bg-light 100%);
    animation: fadein 0.5s;
    // opacity: 0.5;
    opacity: 1;
    transition: all 0.5s;

    h1 {
      color: white;
    }
    hr {
      background: $bg-shadow;
    }
    p {
      color: $bg-shadow;
    }

    .button {
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 1em;

      font-size: 1.2em;

      border: none;
      background: linear-gradient(155deg, #fff 0%, #ccc 100%);
      border-radius: 10px;
      color: $bg-dark !important;
      padding: 0.5em 1em !important;
  
      // opacity: 0.8;
      transition: all 0.5s;
  
      &:hover {
        transform: scale(1.05);
      //   opacity: 1;
        transition: all 0.5s;
      }
    }
    
  }

  @keyframes fadein-left {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.hidden {
  visibility: hidden;
  opacity: 0 !important;
  transition: all 0.5s;
}

.header {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  width: 100%;
  padding: 1em;
  background: linear-gradient(150deg, $bg-light 0%, $bg-dark 100%);
  opacity: 1;
}

h1 {
  font-size: 1.5em;
  color: white;
  font-weight: normal !important;
}
