<app-main-toolbar></app-main-toolbar>

<div class="page">
  <div class="container splash">
    <div class="title">INDEV
      <div class="robot-0"></div>
      <!-- <div class="robot-1"></div> -->
      <div class="subtitle">WE CREATE INTELLIGENT THINGS</div>
    </div>
  </div>

  <div class="content">
    <div class="container">

      <!-- Solutions -->
      <div class="section">
        <h1>Solutions We Build</h1>
        <br><br><br>

        <div class="row">
          <div class="col-sm">
            <app-devtype type="web" routerLink="/services"></app-devtype>
          </div>

          <div class="col-sm">
            <app-devtype type="mobile" routerLink="/services"></app-devtype>
          </div>
        </div>

        <div class="row">
          <div class="col-sm">
            <app-devtype type="desktop" routerLink="/services"></app-devtype>
          </div>

          <div class="col-sm">
            <app-devtype type="system" routerLink="/services"></app-devtype>
          </div>
        </div>
      </div>

      <!-- Services -->
      <div class="section">
        <h1>Services We Deliver</h1>
        <br><br><br>

        <div class="row">
          <div class="col-sm">
            <app-devtype type="softdev" routerLink="/services"></app-devtype>
          </div>

          <div class="col-sm">
            <app-devtype type="integration" routerLink="/services"></app-devtype>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<app-home-contact-us></app-home-contact-us>

<div class="balloon a1"></div>
<div class="balloon a2"></div>