@import "../../style/colors.scss";

.navbar-brand img {
    height: 60pt;
}

.navbar-custom {
    background-color: white;
    border-bottom: 1px solid darkgrey;
    padding: 0;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: darkgrey;
    transition: all 1s;

    &:hover {
      transform: scale(1.2);
      transition: all 0.5s;
    }
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: darkgrey;
    font-size: 1.2em;
    padding: 0 1em;
    transition: all 1s;

    &:hover {
      transform: scale(1.2);
      transition: all 0.5s;
    }
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: black;
}

.navbar-custom .button {
    background: linear-gradient(90deg, $bg-light 0%, $bg-dark 100%);
    border-radius: 10px;
    color: white !important;
    padding: 0.5em 1em !important;

    opacity: 0.8;
    transition: all 1s;

    &:hover {
        transform: scale(1.2);
        opacity: 1;
        transition: all 1s;
    }
}
