$main-active: #F05722;

$bg-light: #fea228;
$bg-dark: #d35916;
$bg-shadow: #973f10;

// $bg-light: #4533ac;
// $bg-dark: #282163;
// $bg-shadow: #140c33;

// $bg-light: #d35916;
// $bg-dark: #973f10;
// $bg-shadow: #4e2008;

$text-light: white;
$text-dark: #973f10;
$text-shadow: #973f10;


// $bg-light: #000;
// $bg-dark: #666;
// $bg-shadow: #111;

// $text-light: #fea228;
// $text-dark: #d35916;
// $text-shadow: #973f10;
