@import "src/style/colors.scss";

img {
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
  // background: linear-gradient(170deg, $bg-light 0%, $bg-dark 100%);
  padding: 0.5em;
}

.context {
  width: 100%;
  display: inline-flex;
  padding-bottom: 1em;
  cursor: pointer;
  border-radius: 1em;

  background-color: transparent;
  transition: all 0.5s;
}
.context:hover {
  // background-color: linear-gradient(170deg, $bg-dark 0%, $bg-light 100%);
  background-color: #fea22844;
  transition: all 0.5s;
  transform: scale(1.1);
}

.text {
  font-size: 1.2em;
  color: $text-dark;
  padding-top: 1em;
  padding-left: 0.5em;
  padding-right: 1em;

  h1 {
    // color: white;
    color: #333;
    font-weight: normal;
    font-size: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}
