@import "src/style/colors.scss";

.direction-content {
  display: none;

  &.visible {
    display: block;
    animation: fadein 0.5s;
  }
}

.header-1 {
  padding: 1.5em 0;
}

hr {
  margin: 0;
  margin-bottom: 3em;
}

.menu {
  padding-top: 3.5em;
  padding-right: 2em;
  // border: 1px solid red;
}

.menu-item {
  text-transform: uppercase;
  padding-bottom: 1em;
  text-align: right;
  cursor: pointer;
  color: $main-text-light;

  &.active {
    color: $main-active;
  }
}

.competence {
  & h2 {
    font-size: 28px;
    font-weight: 300;
    // color: black; 
    color: $main-active-3;
    text-transform: uppercase;
  }
  & hr {
    margin: 2em 0;
  }

  & img {
    width: 140px;
    padding-right: 2em;
    padding-bottom: 2em;
  }
}
