<app-main-toolbar page="services"></app-main-toolbar>

<div class="page">
  <div class="container">

    <div class="row">

      <div class="col-lg-2">
        <div class="menu">

          <ng-container *ngFor="let item of itemList">
            <div class="menu-item" [ngClass]="{'active': selected === item.id}" (click)="selected = item.id">
              {{ item.title }}</div>
          </ng-container>

        </div>
      </div>

      <div class="col-lg-10">

        <ng-container *ngFor="let item of itemList">

          <div class="direction-content" [ngClass]="{'visible': item.id === selected}">
            <div class="header-1">{{ item.titleExt }}</div>
            <hr>

            <p [innerHTML]="item.content[translate.currentLang] || item.content['en']"></p>
            <br>

            <!-- Technologies -->
            <h3 *ngIf="item.technologies">Technologies</h3>

            <ng-container *ngFor="let technology of getTechnologies(item.technologies)">
              <a class="technology" *ngIf="technology" [href]="technology.href" target="_blank">
                <img [src]="technology.img">
              </a>
            </ng-container>
            <br>
            <br>

            <!-- Competencies -->
            <!-- <h3 *ngIf="item.competencies">We develop web applications customized to fit your needs</h3> -->
            <hr>

            <ng-container *ngFor="let competence of getCompetencies(item.competencies)">

              <div class="competence row" *ngIf="competence">
                <div class="col-lg-3">
                  <img [src]="competence.img">
                </div>

                <div class="col-lg-9">
                  <h2> {{ competence.id }} </h2>
                  <!-- <hr> -->
                  <br>
                  <p [innerHTML]="competence.content[translate.currentLang] || competence.content['en']"></p>
                  <br>
                </div>
              </div>
            </ng-container>

          </div>

        </ng-container>
      </div>

    </div>


  </div>
</div>
