@import "src/styles/colors.scss";

.direction-content {
  display: none;

  &.visible {
    display: block;
    animation: fadein 0.5s;
  }
}

h3 {
  font-size: 20px;
  font-weight: 400;
  color: $main-active;
  text-transform: uppercase;
  padding-bottom: 1em;
}

.menu {
  padding-top: 3.5em;
  padding-right: 2em;
  // border: 1px solid red;
}

.menu-item {
  text-transform: uppercase;
  padding-bottom: 1em;
  text-align: right;
  cursor: pointer;
  color: $main-text-light;

  &.active {
    color: $main-active;
  }
}

.technology {
  display: inline-block;
  padding: 1em;
  margin: 0;
  margin-right: 1em;
  margin-bottom: 1em;
  // box-shadow: 3px 3px 5px #ccc;
  border-radius: 10px; // 50%;
  // border: 1px solid #546e7a66;
  background: #eceff1;

  transition: all 0.5s;

  img {
    width: 50px;
    filter: opacity(0.7);
    transition: all 0.5s;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 3px 3px 5px #ccc;
    transition: all 0.5s;

    img {
      filter: opacity(1);
      transition: all 0.5s;
    }
  }
}

.competence {
  & h2 {
    font-size: 28px;
    font-weight: 300;
    // color: black;
    color: $main-active-3;
    text-transform: uppercase;
  }

  & img {
    width: 200px;
    padding-right: 2em;
    padding-bottom: 2em;
  }
}

