<app-main-toolbar></app-main-toolbar>

<div class="page">

  <app-home-page-splash></app-home-page-splash>

  <!-- Solutions -->
  <div id="development" class="section">
    <div class="container">
      <h1>SOFTWARE DEVELOPMENT</h1>
      <br><br><br>

      <div class="row">
        <div class="col-6 tile">
          <app-devtype type="web" routerLink="/services"></app-devtype>
        </div>

        <div class="col-6 tile">
          <app-devtype type="mobile" routerLink="/services"></app-devtype>
        </div>

        <!-- <div class="col tile">
          <app-devtype type="mobile" routerLink="/services"></app-devtype>
        </div> -->
      </div>

      <div class="row">
        <div class="col-6 tile">
          <app-devtype type="desktop" routerLink="/services"></app-devtype>
        </div>

        <div class="col-6 tile">
          <app-devtype type="system" routerLink="/services"></app-devtype>
        </div>
      </div>
    </div>
  </div>

  <!-- Services -->
  <div id="services" class="section">
    <div class="container">
      <h1>CLIENT SERVICES</h1>
      <br><br><br>

      <div class="row">
        <div class="col tile">
          <app-devtype type="softdev" routerLink="/services"></app-devtype>
        </div>

        <div class="col tile">
          <app-devtype type="integration" routerLink="/services"></app-devtype>
        </div>
      </div>

    </div>

  </div>
</div>

<app-home-contact-us></app-home-contact-us>
