@import "src/style/colors.scss";

.section {
  // padding-top: 5em;
  padding-bottom: 3em;
  z-index: 1000;
}

.content {
  h1 {
    color: white;
    text-shadow: 2px 2px 5px $bg-shadow;
    font-size: 3em;
    font-weight: bold;
    width: 100%;
    text-align: center;
  }
}

#development {
  background: url("src/assets/img/bg-main-light.png") left top no-repeat;
  background-size: cover;
  // background: $light-grey;

  h1 {
    font-size: 32px;
  }
}

#services {
  background: $main-bg-1;

  h1 {
    font-size: 32px;
    color: white;
  }
}

.header-1, .header-1-light {
  padding-bottom: 1.5em;
}
