<app-main-toolbar></app-main-toolbar>

<div class="page">

  <app-home-page-splash></app-home-page-splash>

  <!-- Solutions -->
  <div id="development" class="section">
    <div class="container">
      <!-- <h1>SOFTWARE DEVELOPMENT</h1> -->
      <div class="header-1">S<i class="fas fa-globe"></i>FTWARE DEVELOPMENT</div>

      <div class="row">
        <ng-container *ngFor="let item of model; let i = index; let even = even">
          <ng-container *ngIf="['web', 'mobile', 'complex', 'iot'].includes(item.id)">
            <ng-container *ngIf="i > 0 && even">
              <div class="break"></div>
            </ng-container>
            <div class="col-lg-6 tile">
              <app-tile1 [item]="item" routerLink="/services"></app-tile1>
            </div>
          </ng-container>
        </ng-container>

      </div>
    </div>
  </div>

  <!-- Services -->
  <div id="services" class="section">
    <div class="container">
      <!-- <h1>CLIENT SERVICES</h1> -->
      <div class="header-1-light">CLIENT SERV<i class="fas fa-info-circle"></i>CES</div>

      <div class="row">
        <ng-container *ngFor="let item of model; let i = index; let even = even">
          <ng-container *ngIf="['ivr', 'chatbot'].includes(item.id)">
            <ng-container *ngIf="i > 0 && even">
              <div class="break"></div>
            </ng-container>
            <div class="col-lg-6 tile">
              <app-tile1 [item]="item" routerLink="/services"></app-tile1>
            </div>
          </ng-container>
        </ng-container>

      </div>

    </div>
  </div>

  <app-home-contact-us></app-home-contact-us>
