@import "src/style/colors.scss";

.page {
  //   height: 100vh;

  background: white;
  //   background: #fea228;
  // background: linear-gradient(180deg, $bg-light 0%, $bg-dark 100%);
  animation: fadein 0.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein-scale {
  from {
    transform: scale(0.5);
    opacity: 0;
    // left: 0.2em;
  }
  to {
    transform: scale(1);
    opacity: 1;
    // left: 0.5em;
  }
}

.section {
  padding-top: 5em;
  padding-bottom: 3em;
  z-index: 1000;
}

.content {
  h1 {
    color: white;
    text-shadow: 2px 2px 5px $bg-shadow;
    font-size: 3em;
    font-weight: bold;
    width: 100%;
    text-align: center;
  }
}

#solutions {
  background: linear-gradient(180deg, #fff 0%, #ddd 100%);
}
