@import "src/style/colors.scss";

.page {
  //   height: 100vh;

  background: white;
  //   background: #fea228;
  // background: linear-gradient(180deg, $bg-light 0%, $bg-dark 100%);
  animation: fadein 0.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein-scale {
  from {
    transform: scale(0.5);
    opacity: 0;
    // left: 0.2em;
  }
  to {
    transform: scale(1);
    opacity: 1;
    // left: 0.5em;
  }
}

.section {
  padding-top: 5em;
  padding-bottom: 3em;
  z-index: 1000;
}

.content {
  h1 {
    color: white;
    text-shadow: 2px 2px 5px $bg-shadow;
    font-size: 3em;
    font-weight: bold;
    width: 100%;
    text-align: center;
  }
}

#development {
  background: url("src/assets/img/bg-main-light.png") left top no-repeat;
  background-size: cover;

  h1 {
    font-size: 32px;
  }
}

#services {
  background: url("src/assets/img/bg-services-light.png") left top no-repeat;
  background-size: cover;

  h1 {
    font-size: 32px;
    color: white;
  }
}

.tile {
  padding: 0;
  padding-bottom: 1em;
  padding-right: 1em;
  // padding-bottom: 3px;
  // padding-right: 3px;
}

.break {
  flex-basis: 100%;
  height: 0;
}

// .header-1 {
//   font-size: 42px;
//   font-weight: 300;
//   letter-spacing: 3px;
//   // padding-top: 1em;
//   // padding-bottom: 0.5em;
//   padding: 0;
//   i {
//     font-size: 38px;
//     // color: $light-grey;
//     // color: #90a4ae;
//     color: $main-bg-3;
//   }
// }

.header-1 {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 5px;
  padding-top: 0;
  padding-bottom: 2em;
  i {
    font-size: 38px;
    color: #b0bec5; // $main-active-3;
  }
}

.header-1-light {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 5px;
  padding-top: 0;
  padding-bottom: 2em;
  color: white;
  i {
    font-size: 38px;
    color: #cfd8dc; // $light-grey;
  }
}
