@import "src/style/colors.scss";

.tile-container {
  height: 270px;
  cursor: pointer;
  background: #000a1233;
  padding: 1em 0;
  padding-right: 1em;

  position: relative;
  transition: all 0.5s;

  &:hover {
    background: #00bcd433;
    transition: all 0.5s;
  }
}

img {
  width: 200px;
  // margin-top: -30px;
}

.title {
  color: $main-active-3;
  font-size: 28px;
  padding-top: 1em;
}

.text {
  color: $light-grey;
  padding: 1em 0;
}

.button-1 {
  position: absolute;
  right: 1em;
  bottom: 1em;
}
