<app-main-toolbar page="portfolio"></app-main-toolbar>

<div class="page">

    <div class="container">

        <br>
        <br>
        <h1>Portfolio</h1>

        <pre>
        Система диагностики смартфонов

        Назначение
        Автоматическая оценка состояния мобильных устройств при организации сети Trade-In
        Преимущества
        Специализированные мобильные приложения автоматической диагностики для операционных систем iOS и Android
        Централизованная система управления параметрами оценки
        Централизованная система управления сетью Trade-In 
        Компоненты
        Мобильное приложение для iOS
        диагностика программных и аппаратных функций и характеристик мобильного устройства на базе операционной системы iOS
        автоматическая оценка нескольких десятков параметров
        автоматическая передача результатов диагностики в центральную систему
        Мобильное приложение для Android
        диагностика программных и аппаратных функций и характеристик мобильного устройства на базе операционной системы Android
        автоматическая оценка нескольких десятков параметров
        автоматическая передача результатов диагностики в центральную систему
        Web приложение системы диагностики
        регистрация параметров сессий диагностики мобильных устройств
        автоматическое формирование документов по результатам диагностики
        Серверное приложение системы диагностики
        централизованное управление распределенными точками диагностики мобильных устройств
        Скриншоты

        Система автоматической генерации субтитров

        Назначение
        Преимущества
        Компоненты
        Сервис автоматической обработки медиа потока
        извлечение звуковой\речевой информации из медиа потока
        автоматическое распознавание речи
        автоматический перевод на другие языки
        автоматическое формирование строк субтитров в заданном формате
        Скриншоты

        IDE for editing, simulating, and analyzing Colored Petri nets

        Назначение
        GUI приложение для разработки, эмуляции и анализа процессов на языке моделирования CPN (Colored Petri Nets) 
        Преимущества
        Кроссплатформенное приложение с открытым исходным кодом 
        Компоненты
        Кроссплатформенное GUI приложение
        Автономный сервер валидации и эмуляции моделей
        Скриншоты
        </pre>

    </div>

</div>