@import "src/style/colors.scss";

.navbar-brand img {
  height: 60pt;
}

.navbar-custom {
  background-color: white;

  .navbar-brand,
  .navbar-text {
    color: darkgrey;
    transition: all 1s;

    &:hover {
      transform: scale(1.2);
      transition: all 0.5s;
    }
  }
  /* change the link color */
  .navbar-nav .nav-link {
    color: darkgrey;
    font-size: 1.2em;
    padding: 0 1em;
    transition: all 1s;

    &:hover {
      transform: scale(1.3);
      transition: all 0.5s;
    }
  }
  /* change the color of active or hovered links */
  .nav-item.active .nav-link,
  .nav-item:hover .nav-link {
    color: black;
    transform: scale(1.2);
  }

  .button {
    background: linear-gradient(155deg, $bg-light 0%, $bg-dark 100%);
    border-radius: 10px;
    color: white !important;
    padding: 0.5em 1em !important;

    opacity: 0.8;
    transition: all 1s;

    &:hover {
      transform: scale(1.2);
      opacity: 1;
      transition: all 1s;
    }
  }
}

.navbar-custom-dark {
  background: linear-gradient(155deg, $bg-light 0%, $bg-dark 100%);

  .navbar-brand,
  .navbar-text {
    color: #ddd;
    transition: all 1s;

    &:hover {
      transform: scale(1.2);
      transition: all 0.5s;
    }
  }
  /* change the link color */
  .navbar-nav .nav-link {
    color: #ddd;
    font-size: 1.2em;
    padding: 0 1em;
    transition: all 1s;

    &:hover {
      transform: scale(1.3);
      transition: all 0.5s;
    }
  }
  /* change the color of active or hovered links */
  .nav-item.active .nav-link,
  .nav-item:hover .nav-link {
    color: white;
    transform: scale(1.3);
  }

  .button {
    background: linear-gradient(155deg, #fff 0%, #ccc 100%);
    border-radius: 10px;
    color: $bg-dark !important;
    padding: 0.5em 1em !important;

    // opacity: 0.8;
    transition: all 1s;

    &:hover {
      transform: scale(1.2);
    //   opacity: 1;
      transition: all 1s;
    }
  }
}
