<app-main-toolbar page="services"></app-main-toolbar>

<div class="page">

  <div class="container">

    <div class="context">

      <div class="row">


        <div id="development" class="col-lg-6">

          <div class="header-1">SOFTWARE<br>DEVELOPMENT</div>
          <hr>

          <ng-container
            *ngFor="let item of model.pages.services.software_development.items; let i = index; let even = even">

            <!-- <ng-container *ngIf="i > 0 && even">
              <div class="break"></div>
            </ng-container> -->

            <div class="col-lg-12 p-3">

              <!-- <app-tile1 [item]="item"></app-tile1> -->
              <h1>{{ item.title }}</h1>
              <p [innerHTML]="item.content"></p>

              <div class="competencies-block">
                <ng-container *ngFor="let competence of item.competencies">
                  <div class="competence">
                    <div class="row">
                      <div class="bullet">
                        <i class="fas fa-circle"></i>
                      </div>
                      <div class="text">
                        {{ competence }}
                      </div>
                    </div>
                  </div>
                </ng-container>
                <div class="break"></div>
              </div>

            </div>

          </ng-container>
        </div>


        <div id="services" class="col-lg-6">

          <div class="context">
            <div class="header-1">CLIENT<br>SERVICES</div>
            <hr>

            <div class="row">
              <ng-container
                *ngFor="let item of model.pages.services.client_services.items; let i = index; let even = even">

                <!-- <ng-container *ngIf="i > 0 && even">
                  <div class="break"></div>
                </ng-container> -->
                <div class="col-lg-12 p-3">

                  <!-- <app-tile1 [item]="item"></app-tile1> -->
                  <h1>{{ item.title }}</h1>
                  <p class="text" [innerHTML]="item.content"></p>

                  <div class="competencies-block">
                    <ng-container *ngFor="let competence of item.competencies">
                      <div class="competence">
                        <div class="row">
                          <div class="col-1">
                            <i class="fas fa-circle"></i>
                          </div>
                          <div class="col-10">
                            {{ competence }}
                          </div>
                        </div>
                      </div>
                    </ng-container>
                    <div class="break"></div>
                  </div>

                </div>
              </ng-container>
            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
