@import "src/style/colors.scss";

.header-1 {
  padding: 1.5em 0.3em;
}

hr {
  margin: 0;
  margin-bottom: 3em;
}

#development {
  // background: $bg-light-grey;
}

#services {
  // background: white;
}
