<app-main-toolbar page="services"></app-main-toolbar>

<div class="page">

  <div class="container">

    <br>
    <!-- <h1>Services We Deliver</h1> -->

    <div class="context">
      <div class="img">
        <img src="assets/img/robot-1-flat-red.svg" style="width: 150px; height: 150px;">
      </div>
      <div class="text">
        <br>
        <br>
        <h2>Technologies</h2>

        <p>Software development for any purpose</p>
        <br>

        <app-vtabs [viewData]="DevelopmentTypesViewData"></app-vtabs>

      </div>
    </div>


    <!----------------->
    <!-- Integration -->
    <!----------------->

    <div class="context">
      <div class="img">
        <img src="assets/img/robot-2-flat-red.svg" style="width: 150px; height: 150px;">
        <!-- <img src="assets/img/robot-0-3.svg" style="width: 170px; height: 170px; opacity: 90%;"> -->
      </div>
      <div class="text">
        <br>
        <br>
        <h2>Directions</h2>

        <p>Software development for any purpose</p>
        <br>

        <app-vtabs [viewData]="DevelopmentDirectionsViewData"></app-vtabs>

      </div>
    </div>


  </div>

</div>
