@import "src/style/colors.scss";

.page {
  // background: $main-bg-1;
  background: #cfd8dc99;
  // background: linear-gradient(270deg, $light-grey, white);
  // background: url("src/assets/img/bg-main-light.png") left top no-repeat;
  // background-size: cover;
}

.header-1 {
  padding: 1em 0.5em;
  font-size: 32px;
}

hr {
  margin: 0;
  margin-bottom: 1em;
}

h1 {
  font-size: 28px;
  text-transform: uppercase;
  padding-top: 0;
  padding-bottom: 1em;
  color: $main-active;
}

p,
ul,
li {
  line-height: 1.5em;
}

// p.text {
//   min-height: 300px;
// }

.competencies-block {
  padding: 1em 0;
}

.competence {
  padding: 0.7em 1.5em;
  border: 1px solid $light-grey;
  margin-top: -1px;
  text-transform: capitalize;
  font-size: 0.85em;
  color: $main-text;
  opacity: 0.7;

  .bullet {
    padding: 0 1em;
    display: inline-block;
  }
  .text {
    display: inline-block;
  }

  i {
    // color: $main-active-3;
    font-size: 0.7em;
    opacity: 0.5;
    padding-bottom: 0.5em;
  }

  &:hover {
    background: #cfd8dc99;
    cursor: pointer;
    opacity: 1;

    i {
      color: $main-active;
      opacity: 1;
    }
  }
}

#development {
  background: #ffffff99;
  .competence {
    border: 1px solid #546e7a99; // $main-text;
    &:hover {
      background: #b0bec599;
    }
  }
}

#services {
  background: white;
}
