@import "src/style/colors.scss";

$bg-light-grey: #eceff1;

.page {
  // background: $bg-light-grey;
  // background: $main-bg-1;
  // background: #eee; // #cfd8dc99;
  // background: linear-gradient(90deg, $bg-light-grey, $bg-light-grey 40%, white 60%, white);
  // background: url("src/assets/img/bg-main-light.png") left top no-repeat;
  // background-size: cover;
}

.header-1 {
  padding: 1.5em 0.3em;
  // font-size: 32px;
}

hr {
  margin: 0;
  margin-bottom: 2em;
}

h1 {
  font-size: 28px;
  text-transform: uppercase;
  padding-top: 0;
  padding-bottom: 1em;
  padding-left: 0.5em;
  color: $main-active;
}

.row {
  margin: 0;
}
.row.p-1 {
  margin-bottom: 2em;
}

p,
ul,
li {
  line-height: 1.5em;
}

// p.text {
//   min-height: 300px;
// }

.competencies-block {
  padding: 0;
  // padding-right: 2em;
  // padding-left: 1em;
  width: 100%;
  // border-left: 5px solid $light-grey; // $main-active;
}

.competence {
  padding: 0.7em 1.5em;
  // border: 1px solid $light-grey;
  margin-top: -1px;
  // margin-bottom: 7px;
  box-shadow: 2px 2px 3px #ccc;

  text-transform: capitalize;
  font-size: 0.85em;
  color: $main-text;
  opacity: 0.7;
  transition: all 1s;
  background: #cfd8dc33;

  .bullet {
    padding: 0 1em;
    display: inline-block;
  }
  .text {
    display: inline-block;
  }

  i {
    // color: $main-active-3;
    font-size: 0.7em;
    opacity: 0.5;
    padding-bottom: 0.5em;
    padding-right: 0.5em;
    transition: all 1s;
  }

  &:hover {
    background: #cfd8dc99;
    cursor: pointer;
    opacity: 1;
    transition: all 0.5s;
    box-shadow: 2px 2px 5px #ccc;

    i {
      color: $main-active;
      opacity: 1;
      transition: all 0.5s;
    }
  }
}

.row.development {
  background: $bg-light-grey;
  padding-bottom: 2em;
}

#development {
  background: $bg-light-grey;
  .competence {
    margin-bottom: 7px;
    background: white;
    &:hover {
      background: #b0bec599;
    }
  }
}

.row.services {
  background: white;
  padding-bottom: 2em;
}

#services {
  .competence {
    margin-bottom: 10px;
  }
  background: white;
}
