@import "src/style/colors.scss";

.relative {
  position: relative;
}

.splash {
  // border: 1px solid blue;

  width: 100%;
  height: 550px;
  // background: black;
  // background: $main-bg-1;
  background: url("src/assets/img/bg-main.png") left bottom no-repeat;
  // background: url("src/assets/img/bg-main-black.png") left bottom no-repeat;
  background-size: cover;
  // filter: brightness(150%);

  position: relative;
  overflow: hidden;
}

.video-container {
  width: 100%;
  height: 100%;

  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
}

.video-0 {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 100;

  opacity: 0.3;
  // animation: video-0-keyframes 5s infinite;
}
@keyframes video-0-keyframes {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.video-1 {
  position: absolute;
  left: 45%;
  bottom: 0;
  z-index: 100;

  animation: video-1-keyframes 16s;
}

.video-2 {
  position: absolute;
  left: 45%;
  bottom: 0;
  z-index: 100;

  opacity: 1;

  animation: video-2-keyframes 16s;
}

@keyframes video-1-keyframes {
  0% {
    left: 0;
    opacity: 0;
  }
  20% {
    left: 0;
  }
  50% {
    left: 45%;
    opacity: 1;
  }
  90% {
    left: 45%;
    opacity: 1;
  }
  100% {
    left: 45%;
    opacity: 0;
  }
}

@keyframes video-2-keyframes {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;

  // background: url("src/assets/img/bg-main.png") left -2em no-repeat;
  // background-size: cover;
}

.splash-text {
  // border: 1px solid green;

  width: 100%;
  height: 100%;

  position: absolute;
  left: 0;
  top: 0;
  // // margin-top: auto;
  z-index: 100;

  // padding: 75px 3em;
  // display: table-cell;
  // vertical-align: middle;
  // text-align: center;
}

.splash-text-container {
  // border: 1px solid red;
  // display: inline-block !important;
  // text-align: left;

  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}

.title-1 {
  z-index: 1;
  font-size: 40px;
  font-weight: 900;
  color: $main-active;
}

.title-2 {
  // font-family: "Circular Std Book";
  font-size: 60px;
  color: white;
  line-height: 1em;
  padding: 45px 0;
}

.title-3 {
  // font-family: "Circular Std Book";
  font-size: 27px;
  color: #607d8b;
}
