<div class="splash">
  <div class="video">
    <div class="container">
      <video autoplay loop>
        <!-- <source src="assets/img/black-stars.mp4" /> -->
        <source src="assets/img/bike-1920.mp4" />
        <!-- <source src="assets/img/bike-960.mp4" /> -->
      </video>
    </div>
  </div>

  <div class="splash-text">
    <div class="container">
      <div class="title-1">INDEV</div>
      <div class="title-2">Software Development<br />Company</div>
      <div class="title-3">
        We create intelligent Solutions<br />
        for Startups and Enterprises
      </div>
    </div>
  </div>

  <!-- <div class="splash-overlay"></div> -->

  <!-- <div class="robot-0"></div> -->

  <!-- <div class="balloon a1"></div>
  <div class="balloon a2"></div> -->
</div>
