@import "src/style/colors.scss";

.splash {
  // border: 1px solid blue;
  background: linear-gradient(165deg, $bg-dark 0%, $bg-light 70%, $bg-dark 120%);
  padding-bottom: 6vw;
}

.text {
  // border: 1px solid red;
  width: 100%;
  position: relative;
}

.title {
  // z-index: 1;
  // border: 1px solid green;
  // z-index: 1000;
  // position: absolute;

  // top: -0;
  // left: 0;
  // width: 100%;
  // font-size: 18em;
  // font-size: 60px;
  font-size: 25vw;

  text-align: center;
  color: white;
  font-weight: bold;
  text-shadow: 0.01em 0.01em 0.03em $bg-shadow;
}

.subtitle {
  // z-index: 1;
  // position: absolute;

  font-size: 2.8vw;
  // text-align: left;
  color: $text-dark;
  white-space: nowrap;

  margin-left: 35vw;
  margin-top: -8vw;
  // font-weight: normal;
  // text-shadow: 2px 2px 5px $bg-shadow;
  text-shadow: none;
  animation: fadein-scale 1s;

  // left: 16em;
  // top: 11.5em;
  font-weight: normal;
}

.robot-0 {
  // z-index: 10000;
  position: absolute;

  background: url("src/assets/img/dog.svg") left top no-repeat;
  // background: url("src/assets/img/robot-dog-sitting.png") left top no-repeat;
  // background: url("src/assets/img/robot-0-4.svg") left top no-repeat;
  // background: url("src/assets/img/robot-0-4-1.png") left top no-repeat;
  // background: url("src/assets/img/robot-0-1.svg") left top no-repeat;
  // background: url("src/assets/img/robot-1-1.svg") left top no-repeat;
  // background: url("src/assets/img/robot-steam-3.svg") left top no-repeat;
  // background: url("src/assets/img/robot-steam-2.svg") left top no-repeat;
  // background: url("src/assets/img/robot-test-3.png") left top no-repeat;
  background-size: contain;
  // margin-left: 8vw;
  // margin-top: -15vw;
  width: 16vw;
  height: 16vw;
  // display: flex;
  left: 20vw;
  top: 20vw;

  // position: absolute;
  // border: 1px solid red;

  animation: fadein-scale 1s;
  transition: all 0.5s;

  &:hover {
    transform: scale(1.1);
    transition: all 0.5s;
  }
}

.robot-1 {
  background: url("src/assets/img/robot-1.svg") left top no-repeat;
  background-size: contain;
  left: 0.2em;
  top: 0.7em;
  width: 0.8em;
  height: 0.8em;

  position: absolute;
  // border: 1px solid red;
  float: left;

  opacity: 0;
  // animation: robot-0 10s infinite;
  // animation-delay: 5s;
  animation: fadein-scale 1s;
  transition: all 0.5s;

  &:hover {
    transform: scale(1.1);
    transition: all 0.5s;
  }
}

@keyframes robot-0 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes robot-1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Baloons
// -------------------------

.balloon {
  background: linear-gradient(170deg, $bg-dark 0%, $bg-light 100%);
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}

.balloon.a1 {
  animation: balloon1 30s infinite;
}
.balloon.a2 {
  animation: balloon2 30s infinite;
}
// .balloon.a3 {
//   animation: balloon3 30s infinite;
// }

$randomNumber: random(5);

@keyframes balloon1 {
  0% {
    left: 50vw;
    top: 60vh;
    width: 10vw;
    height: 10vw;
    opacity: 0.1;
  }
  50% {
    left: 60vw;
    top: 50vh;
    width: 20vw;
    height: 20vw;
    opacity: 0.5;
  }
  100% {
    left: 50vw;
    top: 60vh;
    width: 10vw;
    height: 10vw;
    opacity: 0.1;
  }
}

@keyframes balloon2 {
  0% {
    left: 10vw;
    top: 30vh;
    width: 30vw;
    height: 30vw;
    opacity: 0.1;
  }
  10% {
    opacity: 0.3;
  }
  50% {
    left: 60vw;
    top: 50vh;
    width: 10vw;
    height: 10vw;
    opacity: 0.2;
  }
  90% {
    left: 10vw;
    top: 30vh;
    width: 30vw;
    height: 30vw;
    opacity: 0.3;
  }
  100% {
    opacity: 0.1;
  }
}
