<div class="splash">
  <div class="video-container">
    <video id="videoElement" class="video-0" playsinline autoplay muted loop (canplaythrough)="startPlayback()">
      <source src="assets/img/black-stars.mp4" />
    </video>

    <!-- <video class="video-0" autoplay loop height="100%">
      <source src="assets/img/bg-crystal.mp4" />
    </video> -->

    <!-- <div class="container relative" style="height:100%; padding: 0;">
      <video class="video-1" autoplay height="100%">
        <source src="assets/img/bike-640.mp4" />
      </video>

      <video class="video-2" autoplay loop height="100%">
        <source src="assets/img/bike-second-part.mp4" />
      </video>
    </div> -->
  </div>

  <div class="splash-text p-3">
    <div class="container splash-text-container">
      <div class="title-1">INDEV</div>
      <div class="title-2">
        Software Development<br />
        Company
      </div>
      <div class="title-3">
        We create intelligent solutions<br />
        for Startups and Enterprises
      </div>
    </div>
  </div>
</div>
