/* You can add global styles to this file, and also import other style files */

@import "./assets/font/Fontawesome/css/all.min.css";

@import "./assets/font/CircularStd/stylesheet.css";
@import "./assets/font/Roboto/roboto.css";

@import "./style/colors.scss";

* {
  // font-family: 'Circular Std', sans-serif;
  font-family: "Roboto Light", sans-serif;
  font-size: 18px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-overflow-scrolling: touch;
}

a {
  outline: none;
}
a img {
  outline: none;
}
img {
  border: 0;
}
:active,
:focus {
  outline: none;
  -moz-outline-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // font-family: "Circular Std Book";
  font-family: "Roboto Light", sans-serif;
  font-weight: 300;
  // color: $main-active;
  color: $main-bg-1;
}

p,
div {
  color: $main-text;
  letter-spacing: 1px;
  line-height: 30px;
}

a,
a:link,
a:hover,
a:active {
  text-decoration: none;
  color: $main-active;
}

.button-1 {
  opacity: 1 !important;
  background: $main-active;
  // border-radius: 10px;
  color: white;
  padding: 0.5em 1em;
  transition: all 0.5s;
  filter: opacity(90%);

  &:hover {
    text-decoration: none;
    color: white;
    filter: opacity(100%);
    transition: all 0.5s;
    box-shadow: 2px 2px 7px #666;
  }
}


.button-2 {
  opacity: 1 !important;
  background: $main-active-3;
  // border-radius: 10px;
  color: white;
  padding: 0.5em 1em;
  transition: all 0.5s;

  &:hover {
    text-decoration: none;
    color: white;
    filter: brightness(80%);
    transition: all 0.5s;
  }
}

hr {
  margin: 2em 0;
}
