@import "src/style/colors.scss";

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// h1 {
//   // padding: 20px;
//   // color: #999;
//   // font-weight: bold;
//   // text-shadow: 1pt 1pt 3pt #ccc;
// }

img {
  border-radius: 50%;
  width: 12em;
  height: 12em;
  // background: linear-gradient(170deg, $bg-light 0%, $bg-dark 100%);
  padding: 0.5em;
  transition: all 0.5s;

  &:hover {
    transform: scale(1.1);
    opacity: 1;
    transition: all 0.5s;
  }
}

.context {
  // border: 1px solid red;

  display: inline-flex;
  padding-bottom: 1em;
  padding-right: 1em;
  cursor: pointer;
  border-radius: 1em;

  background-color: transparent;
  transition: all 0.5s;

  animation: fadein 0.5s;
}
// .context:hover {
//   background-color: #eee;
//   transition: all 0.5s;
//   transform: scale(1.1);
// }

.text {
  // font-size: 1em;
  // color: #666;
  padding-top: 0.5em;
  padding-left: 1em;
  padding-right: 1em;

  // h2 {
  //   color: $bg-light;
  //   font-weight: bold;
  //   font-size: 2em;
  //   padding-left: 0;
  //   padding-top: 0;
  //   padding-bottom: 0.5em;
  //   text-shadow: 1pt 1pt 3pt #ccc;
  // }

  // h3 {
  //   color: $main-bg-1;
  //   padding-bottom: 0.5em;
  //   // font-weight: bold;
  // }
}

.devlink {
  cursor: pointer;
  margin-left: -1.5em;

  // border: 1px solid red;
  border-radius: 3em;

  width: auto;
  height: 64px;

  background: none;

  transition: all 0.5s;

  .img {
    padding: 0 0.5em;
    float: left;
  }
  img {
    width: 64px;
    height: 64px;
    opacity: 0.5;
  }

  .text {
    color: $main-bg-1;
    padding: 0;
    padding-right: 2em;
    // border: 1px solid green;
    height: 64px;
    vertical-align: middle;
    display: table-cell;
    width: 100%;
  }

  &.active {
    background-color: #00bcd433;
    transform: scale(1.1);
  }

  &:hover {
    background-color: #99999933;
    transition: all 0.5s;
    // transform: scale(1.1);
  }
}

// a.button {
//   background: $main-active;
//   color: white;
//   padding: 1em 1.5em;

//   // opacity: 0;
//   transition: all 0.5s;

//   font-size: 0.8em;
//   text-decoration: none;

//   &:hover {
//     filter: brightness(80%);
//   }
// }
