<app-main-toolbar page="portfolio"></app-main-toolbar>

<div class="page">

  <div class="container">

    <br>
    <div class="header-1">OUR <span class="nowrap">W<i class="fas fa-globe"></i>RKS</span></div>
    <hr>

    <ng-container *ngFor="let solution of model.pages.portfolio.solutions">
      <div class="row pb-3">
        <div class="col-lg-7">
          <h1 class="pr-3">{{ solution.title }}</h1>

          <div class="tech-block">
            <ng-container *ngFor="let tech of solution.technologies">
              <div class="tech">{{ tech }}</div>
            </ng-container>
            <div class="break"></div>
          </div>

          <br>
          <p [innerHTML]="solution.content[translate.currentLang] || solution.content['en']">
          </p>
          <br>

          <a class="button-1" [routerLink]="['/portfolio-ext', solution.id]">Read more ></a>
          <br><br>

        </div>
        <div class="col-lg-5">
          <img [src]="solution.img">
        </div>
      </div>
      <hr>
    </ng-container>

  </div>
</div>
