<app-main-toolbar page="portfolio"></app-main-toolbar>

<div class="page">

  <div class="container">

    <!--
    <div class="img">
      <img src="assets/img/robot-1-flat-red.svg" style="width: 150px; height: 150px;">
    </div>
  -->

    <div class="header-1">OUR <span class="nowrap">W<i class="fas fa-globe"></i>RKS</span></div>
    <!-- <h1>OUR WORKS</h1> -->
    <hr>

    <div class="row pb-3">
      <div class="col-lg-7">
        <h2 class="pr-3">GUI tool for editing, testing and simulating Colored Petri Nets</h2>

        <div class="tech-block">
          <div class="tech">Javascript</div>
          <div class="tech">Angular</div>
          <div class="tech">Electron</div>
          <div class="tech">Java</div>
          <div class="tech">Springboot</div>
          <div class="break"></div>
        </div>

        <p class="p-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Curabitur orci tortor, volutpat vel ultricies vitae, tincidunt
          quis dui. Suspendisse lacus neque, lacinia sed leo et,
          interdum bibendum mi. Sed tellus tortor, rhoncus ut
          malesuada ac, ultrices id nibh. Cras bibendum sem ex, in
          ultricies dui venenatis vitae.</p>

        <a class="button-1" routerLink="/home">Read more ></a>
        <br><br>

      </div>
      <div class="col-lg-5">
        <img src="assets/img/portfolio/cpn-ide/screen-1.png">
      </div>
    </div>

    <hr>

    <div class="row pb-3">
      <div class="col-lg-7">
        <h2 class="pr-3">Voice IVR for water delivery company</h2>

        <div class="tech-block">
          <div class="tech">Javascript</div>
          <div class="tech">Angular</div>
          <div class="tech">Java</div>
          <div class="tech">Springboot</div>
          <div class="tech">Asterisk</div>
          <div class="tech">C++</div>
          <div class="break"></div>
        </div>

        <p class="p-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Curabitur orci tortor, volutpat vel ultricies vitae, tincidunt
          quis dui. Suspendisse lacus neque, lacinia sed leo et,
          interdum bibendum mi. Sed tellus tortor, rhoncus ut
          malesuada ac, ultrices id nibh. Cras bibendum sem ex, in
          ultricies dui venenatis vitae.</p>

        <a class="button-1" routerLink="/home">Read more ></a>
        <br><br>

      </div>

      <div class="col-lg-5">
        <img src="assets/img/portfolio/stc-cloud/screen-1.png">
      </div>
    </div>

    <hr>

    <div class="row pb-3">
      <div class="col-lg-7">
        <h2 class="pr-3">Voice IVR for water delivery company</h2>

        <div class="tech-block">
          <div class="tech">Javascript</div>
          <div class="tech">Angular</div>
          <div class="tech">Java</div>
          <div class="tech">Springboot</div>
          <div class="tech">Asterisk</div>
          <div class="tech">C++</div>
          <div class="break"></div>
        </div>

        <p class="p-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Curabitur orci tortor, volutpat vel ultricies vitae, tincidunt
          quis dui. Suspendisse lacus neque, lacinia sed leo et,
          interdum bibendum mi. Sed tellus tortor, rhoncus ut
          malesuada ac, ultrices id nibh. Cras bibendum sem ex, in
          ultricies dui venenatis vitae.</p>

        <a class="button-1" routerLink="/home">Read more ></a>
        <br><br>
      </div>

      <div class="col-lg-5">
        <img src="assets/img/portfolio/stc-cloud/screen-1.png">
      </div>
    </div>

    <hr>

  </div>
</div>
