<app-main-toolbar page="services"></app-main-toolbar>

<div class="page">

  <div class="container">

    <br>
    <br>
    <h1>Services</h1>

    <!-- <div class="row">
    <div class="col-sm">
      <img src="../../assets/img/robot-1.svg" style="height: 200pt;">
    </div>

    <div class="col-sm">
      <h1>Services</h1>
    </div>
  </div> -->


    <div class="row">

      <div class="col-sm">

        <div class="context">
          <div class="img">
            <img src="../../assets/img/robot-1-flat-red.svg" style="height: 150pt;">
          </div>
          <div class="text">
            <h1>Software Development</h1>

            <p>Mobile devices have permeated almost every walk of life. Mobile application is a great way to attract
              worldwide customers and grab the maximum audience. Besides this, mobile app can be designed as an
              efficient tool for streamlining business processes and communications in your company and increasing the
              speed and quality of employees' work.
              <br><br>

              We offer mobile application development that will help you quickly and efficiently expand your business
              opportunities.
              <br><br>

              Some reasons to choose mobile app:
              <br>
              - accessible everywhere 24/7<br>
              - more engaging and interactive than business websites<br>
              - providing personalized content according to user preferences<br>
              - push and in-app notifications made in real-time<br>
            </p>
            <br>

            <button class="button" routerLink="/portfolio">View Portfolio</button>
            <br>
            <br>

          </div>
        </div>

      </div>
    </div>


    <div class="row">

      <div class="col-sm">

        <div class="context">
          <div class="img">
            <img src="../../assets/img/mobile-red.svg" style="height: 150pt;">
          </div>
          <div class="text">
            <h1>Mobile</h1>

            <p>Mobile devices have permeated almost every walk of life. Mobile application is a great way to attract
              worldwide customers and grab the maximum audience. Besides this, mobile app can be designed as an
              efficient tool for streamlining business processes and communications in your company and increasing the
              speed and quality of employees' work.
              <br><br>

              We offer mobile application development that will help you quickly and efficiently expand your business
              opportunities.
              <br><br>

              Some reasons to choose mobile app:
              <br>
              - accessible everywhere 24/7<br>
              - more engaging and interactive than business websites<br>
              - providing personalized content according to user preferences<br>
              - push and in-app notifications made in real-time<br>
            </p>
            <br>

            <button class="button" routerLink="/portfolio">View Portfolio</button>
            <br>
            <br>

          </div>
        </div>

      </div>
    </div>


    <div class="row">
      <div class="col-sm">

        <div class="context">
          <div class="img">
            <img src="../../assets/img/desktop-red.svg" style="height: 150pt;">
          </div>
          <div class="text">
            <h1>Desktop</h1>

            <p>Mobile devices have permeated almost every walk of life. Mobile application is a great way to attract
              worldwide customers and grab the maximum audience. Besides this, mobile app can be designed as an
              efficient tool for streamlining business processes and communications in your company and increasing the
              speed and quality of employees' work.
              <br><br>

              We offer mobile application development that will help you quickly and efficiently expand your business
              opportunities.
              <br><br>

              Some reasons to choose mobile app:
              <br>
              - accessible everywhere 24/7<br>
              - more engaging and interactive than business websites<br>
              - providing personalized content according to user preferences<br>
              - push and in-app notifications made in real-time<br>
            </p>

            <br>

            <button class="button" routerLink="/portfolio">View Portfolio</button>
            <br>
            <br>

          </div>
        </div>

      </div>
    </div>


    <div class="row">
      <div class="col-sm">

        <div class="context">
          <div class="img">
            <img src="../../assets/img/system-red.svg" style="height: 150pt;">
          </div>
          <div class="text">
            <h1>System</h1>

            <p>Mobile devices have permeated almost every walk of life. Mobile application is a great way to attract
              worldwide customers and grab the maximum audience. Besides this, mobile app can be designed as an
              efficient tool for streamlining business processes and communications in your company and increasing the
              speed and quality of employees' work.
              <br><br>

              We offer mobile application development that will help you quickly and efficiently expand your business
              opportunities.
              <br><br>

              Some reasons to choose mobile app:
              <br>
              - accessible everywhere 24/7<br>
              - more engaging and interactive than business websites<br>
              - providing personalized content according to user preferences<br>
              - push and in-app notifications made in real-time<br>
            </p>

            <br>

            <button class="button" routerLink="/portfolio">View Portfolio</button>
            <br>
            <br>

          </div>
        </div>

      </div>
    </div>


  </div>

</div>