<app-main-toolbar></app-main-toolbar>

<div class="container">

  <br>
  <br>
  <h1>Services</h1>

  <!-- <div class="row">
    <div class="col-sm">
      <img src="../../assets/img/robot-1.svg" style="height: 200pt;">
    </div>

    <div class="col-sm">
      <h1>Services</h1>
    </div>
  </div> -->

  <div class="row">
    <div class="col-sm">

      <div class="context">
        <div class="img">
          <img src="../../assets/img/web-red.svg" style="height: 150pt;">
        </div>
        <div class="text">
          <h1>Web</h1>
          <p>Interactive web apps for all occasions</p>
        </div>
      </div>

    </div>

    <div class="col-sm">

      <div class="context">
        <div class="img">
          <img src="../../assets/img/mobile-red.svg" style="height: 150pt;">
        </div>
        <div class="text">
          <h1>Mobile</h1>
          <p>Mobile apps for work and entertainment</p>
        </div>
      </div>

    </div>
  </div>


  <div class="row">
    <div class="col-sm">

      <div class="context">
        <div class="img">
          <img src="../../assets/img/desktop-red.svg" style="height: 150pt;">
        </div>
        <div class="text">
          <h1>Desktop</h1>
          <p>Specialized desktop software for complex tasks</p>
        </div>
      </div>

    </div>

    <div class="col-sm">

      <div class="context">
        <div class="img">
          <img src="../../assets/img/system-red.svg" style="height: 150pt;">
        </div>
        <div class="text">
          <h1>System</h1>
          <p>Complex distributed systems for business</p>
        </div>
      </div>

    </div>
  </div>


</div>
